* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-wrapper {
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "header header header"
        "nav article aside"
        "nav footer footer";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    gap: 5px;
    background-color: white;
}

.header,
.nav,
.article,
.aside,
.footer {
    padding: 20px;
    background-color: #FFD706;
    border: 1px solid white;
    font-size: 14px;
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.article {
    grid-area: article;
}

.aside {
    grid-area: aside;
}

.footer {
    grid-area: footer;
}
