/* Base Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: hsl(222, 26%, 31%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Calculator Layout */
.calculator-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 320px;
}

/* Header */
.calc-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calc-header h1 {
  font-size: 1.2rem;
  color: white;
}

/* Theme Switcher */
.theme-switch {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 0.6rem;
}

.number{
  display: flex;
  gap: 0.8rem;
}

.toggle-container{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.4rem;
}

.toggle {
  margin-top: 0.3rem;
  background-color: hsl(223, 31%, 20%);
  border-radius: 1rem;
  width: 50px;
  position: relative;
  height: 20px;
}

.toggle .circle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
}

/* Display */
.calc-display {
  background-color: hsl(224, 36%, 15%);
  padding: 1rem;
  font-size: 2rem;
  text-align: right;
  border-radius: 8px;
  color: white;
}

.calc-buttons {
  background-color: hsl(223, 31%, 20%);
  padding: 1.2rem;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.calc-buttons button {
  width: calc(25% - 0.75rem);
  height: 50px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  background-color: hsl(30, 25%, 89%);
  color: hsl(221, 14%, 31%);
  font-weight: bold;
  box-shadow: inset 0 -4px hsl(28, 16%, 65%);
  cursor: pointer;
}

.calc-buttons .del {
  background-color: hsl(225, 21%, 49%);
  color: white;
  box-shadow: inset 0 -4px hsl(224, 28%, 35%);
}

.calc-buttons .reset,
.calc-buttons .equal {
  width: calc(50% - 0.75rem); /* Span 2 columns */
}

.calc-buttons .reset {
  background-color: hsl(225, 21%, 49%);
  color: white;
  box-shadow: inset 0 -4px hsl(224, 28%, 35%);
}

.calc-buttons .equal {
  background-color: hsl(6, 63%, 50%);
  color: white;
  box-shadow: inset 0 -4px hsl(6, 70%, 34%);
}
