:root{
  --primary-100 : #EAF3FF ;
  --primary-200 : #8CC6FC;
  --primary-300 : #2285FE;
  --secondary-100 :#cfd8dc;
  --text-color-100 : #8c8d96;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f5f8fa;
  color: #333;
  line-height: 1.5;
}

i {
  color: var(--text-color-100);
}

.container {
  display: flex;
  flex-direction: column;
  height: 96vh;
  margin: 1rem;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  background: #fff;
}


/* Top Bar */
.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  border-bottom: 1px solid #e1e5ea;
  height: 80px; 
}


.topbar .logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1a73e8;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid var(--secondary-100);
  border-radius: 6px;
  padding: 0.5rem;
  transition: all 0.3s ease;
}
.main-search {
  max-width: 50%;
  margin: 0 2rem; 
  padding: 0.8rem;
}

.search-container i {
  color: var(--text-color-100);
  font-size: 1rem;
  margin-right: 0.5rem;
}
.search-container input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  color: var(--text-color-100);
}

.topbar .search input {
  width: 100%;
  padding: 0.7rem 1rem;
  border: 1px solid #d2d6dc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}


.buttons{
  display: flex;
  gap: 15px;
  align-items: center;
}

.btn-primary {
  white-space: nowrap;
}

.topbar .btn-primary {
  background-color: var(--primary-300);
  color: #fff;
  border: none;
  padding: 0.7rem 0.75rem;
  border-radius: 0.375rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  letter-spacing: 1px;
}

.btn-primary i{
    color: white;
}

.topbar .profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.topbar .avatar {
  width: 32px;
  height: 32px;
  background: var(--secondary-100);
  border-radius: 50%;
}
.topbar .username {
  font-weight: 500;
}
.topbar .chevron {
  font-size: 0.8rem;
}

/* Main */
.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 200px;
  border-right: 1px solid var(--secondary-100);
}

.fintory{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom:1px solid var(--secondary-100);
}
.fintory img{
  height: 2rem;
  margin-right: 0.3rem;
  margin-bottom: -7px;
 padding-left: 0.75rem;
}

.fintory h2 {
  font-size: 18px;
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.sidebar li {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  cursor: pointer;
  gap: 0.75rem;
  font-weight: 500;
  color: var(--text-color-100);
}

.sidebar li.active,
.sidebar li:hover,
.sidebar li.active i,
.sidebar li:hover i {
  background: #eef2f7;
  color: var(--primary-300);
}


.sidebar .badge {
  background: #1a73e8;
  color: #fff;
  border-radius: 9999px;
  padding: 0 0.5rem;
  font-size: 0.75rem;
  margin-left: auto;
}

/* Messages Panel */
.messages-section {
  width: 320px;
  background: #fff;
  border-right: 1px solid #e1e5ea;
  display: flex;
  flex-direction: column;
}
.messages-header {
  padding: 1rem;
  border-bottom: 1px solid #e1e5ea;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}
.message-title{
  display: flex;
}

.messages-header h2 {
  font-size: 1.125rem;
  font-weight: 600;
}

.badge{
  background-color: #e1e5ea;
  border-radius: 50%;
  padding: 5px;
  width: 25px;
  height: 25px;
  color: var(--text-color-100);
  font-size: 12px;
}

.messages-header select {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #d2d6dc;
  border-radius: 0.375rem;
  width: 100%;
}
.message-list {
  flex: 1;
  overflow-y: auto;
}
.message-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem;
  border-bottom: 1px solid #f1f3f5;
}
.message-list li.unread {
  background: #eef6ff;
}
.msg-header {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.msg-avatar {
  min-width: 35px;
  min-height: 35px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: #cfd8dc;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: 0.75rem;
}

.msg-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; 
  display: block;
}

.unread p {
  display: block;
  font-size: 0.875rem;
  color: #4a5568;
  margin-top: 0.25rem;
}
.msg-owner-name {
  display: flex;
  justify-content: space-between;
}
.msg-time {
  margin-left: auto;
  font-size: 0.75rem;
  color: #a0aec0;
  white-space: nowrap;
}

.msg-subject span {
  color: var(--primary-300);
}

/* Conversation */
.conversation {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #FAFDFF;
}
.conv-header {
  background: #fff;
  padding: 1rem;
  border-bottom: 1px solid #e1e5ea;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.conv-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #cfd8dc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.conv-info h3 {
  font-size: 1.125rem;
  margin-bottom: 0.2rem;
}
.conv-subtitle {
  color: #718096;
  font-size: 0.875rem;
}
.conv-actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.btn-outline {
  background:  var(--primary-100);
  border: none;
  color: #1a73e8;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  cursor: pointer;
}
.conv-actions select {
  padding: 0.4rem;
  border: 1px solid #d2d6dc;
  border-radius: 0.375rem;
}
.fa-thumbs-up {
  background-color: var(--primary-100);
  padding: 5px;
  color: var(--primary-200);
  border-radius: 5px;
}

.icon-btn {
  background: transparent;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
}

/* Message History */
.messages-history {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}
.message {
  margin-bottom: 1.5rem;
}
.from-them .msg-bubble {
  background: #fff;
  border: 1px solid #e1e5ea;
}
.from-me .msg-bubble {
  background: #e4f0ff;
  border: 1px solid #c3ddfd;
  margin-left: auto;
}
.msg-date {
  display: block;
  text-align: center;
  font-size: 0.75rem;
  color: var(--text-color-100);
  margin-bottom: 1rem;

}

.msg-date small{
  background-color: white;
  border: 1px solid var(--text-color-100);
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.msg-bubble {
  padding: 1rem;
  border-radius: 0.5rem;
}
.msg-bubble p {
  margin-bottom: 0.5rem;
}
.msg-sent {
  display: block;
  font-size: 0.75rem;
  color: #a0aec0;
}

/* Input box */

.message-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px 16px;
  border: 1.5px solid #e1e5ea;
  background-color: #f8fafc;
  position: sticky;
  bottom: 0;
  z-index: 10;
  margin: 0  1.2rem 1.2rem 1.3rem;
  border-radius: 0.5rem;
}

.message-box input {
  flex: 1;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 15px;
  padding: 1rem;
  color: #333;
}


.icons-send {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 14px;
}


.icons {
  display: flex;
  gap: 10px;
  color: var(--text-color-100);
}

.icons i {
  cursor: pointer;
  font-size: 14px;
}



.send-box {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.send-button {
  background-color: var(--primary-300);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 16px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.send-button i {
  margin-left: 6px;
}

.send-button:hover {
  background-color: #006ae0;
}










/* Hide scrollbars in WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
}

/* Optional: Hide scrollbars in Firefox */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

